<div>
  <form  (ngSubmit)="sendOrder()">
    <div class="form-group">
      <label for="nameInput">Odbiorca</label>
      <input type="text" class="form-control" id="nameInput" placeholder="Jan Kowalski" required [(ngModel)]="recipientName" name="nameInput">
    </div>
    <div class="form-group">
      <label for="addressInput">Password</label>
      <input type="text" class="form-control" id="addressInput" aria-describedby="addressHelp"
             placeholder="Kraków, ul. Czarnowiejska 10" required [(ngModel)]="recipientAddress" name="addressInput">
      <small id="addressHelp" class="form-text text-muted">Pełny adres zamieszkania.</small>
    </div>
    <button type="submit" class="btn btn-primary">Wyślij zamówienie</button>
  </form>
</div>
